body {
  position: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.cover{
  background-image: url(../src/img4.jpg);
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login{
  width: 323px;
  padding-top: 130px;
  padding-left: 0px;
  padding-right: 22px;
  position: relative;
  margin-right: 40px;
  margin-left: 674px;
  padding-top: 250px;
}
.p{
  text-align: left;
  color: white;
}
.ending{
  align-items: flex-end;
}